<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdhDslKWp0s5OG0aNcopUurrgqUiJJfZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>1028072467595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jmletona.ibvn</string>
	<key>PROJECT_ID</key>
	<string>ibvn-418114</string>
	<key>STORAGE_BUCKET</key>
	<string>ibvn-418114.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028072467595:ios:2bd5d5f58b3d3d9c8af88e</string>
</dict>
</plist>