<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		 <!-- Moldin (.otf) -->
    <string>Moldin-Black.otf</string>
    <string>Moldin-Bold.otf</string>
    <string>Moldin-ExtraBold.otf</string>
    <string>Moldin-Medium.otf</string>
    <string>Moldin-Regular.otf</string>
    <string>Moldin-SemiBold.otf</string>

    <!-- DMSans (.ttf) -->
    <string>DMSans-Black.ttf</string>
    <string>DMSans-BlackItalic.ttf</string>
    <string>DMSans-Bold.ttf</string>
    <string>DMSans-BoldItalic.ttf</string>
    <string>DMSans-ExtraBold.ttf</string>
    <string>DMSans-ExtraBoldItalic.ttf</string>
    <string>DMSans-ExtraLight.ttf</string>
    <string>DMSans-ExtraLightItalic.ttf</string>
    <string>DMSans-Italic.ttf</string>
    <string>DMSans-Light.ttf</string>
    <string>DMSans-LightItalic.ttf</string>
    <string>DMSans-Medium.ttf</string>
    <string>DMSans-MediumItalic.ttf</string>
    <string>DMSans-Regular.ttf</string>
    <string>DMSans-SemiBold.ttf</string>
    <string>DMSans-SemiBoldItalic.ttf</string>
    <string>DMSans-Thin.ttf</string>
    <string>DMSans-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
